# Weather Prediction using K-Nearest Neighbor

In [186]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [187]:
from pandas import read_excel
my_sheet = 'weather'
file_name = 'C:\\Users\\Het Patel\\Desktop\\Internship\\Day1\\weather.xlsx' 
df = read_excel(file_name, sheet_name = my_sheet)
print(df.head())

   MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0     13.4     22.9       0.6          NaN       NaN           W
1      7.4     25.1       0.0          NaN       NaN         WNW
2     12.9     25.7       0.0          NaN       NaN         WSW
3      9.2     28.0       0.0          NaN       NaN          NE
4     17.5     32.3       1.0          NaN       NaN           W

   WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  ...  Humidity3pm  \
0           44.0          W        WNW          20.0  ...         22.0
1           44.0        NNW        WSW           4.0  ...         25.0
2           46.0          W        WSW          19.0  ...         30.0
3           24.0         SE          E          11.0  ...         16.0
4           41.0        ENE         NW           7.0  ...         33.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8         No
1       1010.6       1007.8       NaN       NaN     17.2     24.3         No
2       1007.6       1008.7       NaN       2.0     21.0     23.2         No
3       1017.6       1012.8       NaN       NaN     18.1     26.5         No
4       1010.8       1006.0       7.0       8.0     17.8     29.7         No

   RISK_MM RainTomorrow
0      0.0           No
1      0.0           No
2      0.0           No
3      1.0           No
4      0.2           No

[5 rows x 22 columns]

In [188]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [191]:
# pd.get_dummies(df['WindGustDir'])
# windgustdir = pd.get_dummies(df['WindGustDir'],drop_first=True)
# windgustdir.head(5)

Temp_dict = {
    'ENE' : 1,
    'ESE' : 2,
    'N' : 3,
    'NE' : 4,
    'NNE' : 5,
    'NNW' : 6,
    'NW' : 7,
    'ENE' : 8,
    'S' : 9,
    'SE' : 10,
    'SSE' : 11,
    'SSW' : 12,
    'W' : 13,
    'WNW' : 14,
    'WSW' : 15,}
df['windgustdir'] = df.WindGustDir.map(Temp_dict)
# print(df.drop([0,1,7]))

In [192]:
# pd.get_dummies(df['WindDir9am'])
# winddir9 = pd.get_dummies(df['WindDir9am'],drop_first=True)
# winddir9.head(5)
Temp_dict9 = {
    'ENE' : 1,
    'ESE' : 2,
    'N' : 3,
    'NE' : 4,
    'NNE' : 5,
    'NNW' : 6,
    'NW' : 7,
    'ENE' : 8,
    'S' : 9,
    'SE' : 10,
    'SSE' : 11,
    'SSW' : 12,
    'W' : 13,
    'WNW' : 14,
    'WSW' : 15,}
df['winddir9'] = df.WindDir9am.map(Temp_dict9)

In [193]:
# pd.get_dummies(df['WindDir3pm'])
# winddir3 = pd.get_dummies(df['WindDir3pm'],drop_first=True)
# winddir3.head(5)
Temp_dict3 = {
    'ENE' : 1,
    'ESE' : 2,
    'N' : 3,
    'NE' : 4,
    'NNE' : 5,
    'NNW' : 6,
    'NW' : 7,
    'ENE' : 8,
    'S' : 9,
    'SE' : 10,
    'SSE' : 11,
    'SSW' : 12,
    'W' : 13,
    'WNW' : 14,
    'WSW' : 15,}
df['winddir3'] = df.WindDir3pm.map(Temp_dict3)

In [194]:
pd.get_dummies(df['RainToday'])
raintoday= pd.get_dummies(df['RainToday'],drop_first=True)
raintoday.head(5)

   Yes
0    0
1    0
2    0
3    0
4    0

In [197]:
df = pd.concat([raintoday,df],axis=1)
df.head(5)

,Yes,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,windgustdir,winddir9,winddir3
0,0,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,8.0,NaN,16.9,21.8,No,0.0,No,13.0,13.0,14.0
1,0,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,NaN,NaN,17.2,24.3,No,0.0,No,14.0,6.0,15.0
2,0,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,NaN,2.0,21.0,23.2,No,0.0,No,15.0,13.0,15.0
3,0,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,NaN,NaN,18.1,26.5,No,1.0,No,4.0,10.0,NaN
4,0,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,7.0,8.0,17.8,29.7,No,0.2,No,13.0,8.0,7.0

In [198]:
df.drop(columns=['WindGustDir', 'WindDir9am','WindDir3pm','RainToday'],axis=0)

,Yes,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM,RainTomorrow,windgustdir,winddir9,winddir3
0,0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,...,1007.1,8.0,NaN,16.9,21.8,0.0,No,13.0,13.0,14.0
1,0,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,...,1007.8,NaN,NaN,17.2,24.3,0.0,No,14.0,6.0,15.0
2,0,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,...,1008.7,NaN,2.0,21.0,23.2,0.0,No,15.0,13.0,15.0
3,0,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,...,1012.8,NaN,NaN,18.1,26.5,1.0,No,4.0,10.0,NaN
4,0,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,...,1006.0,7.0,8.0,17.8,29.7,0.2,No,13.0,8.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,0,3.5,21.8,0.0,NaN,NaN,31.0,15.0,13.0,59.0,...,1021.2,NaN,NaN,9.4,20.9,0.0,No,NaN,2.0,NaN
142189,0,2.8,23.4,0.0,NaN,NaN,31.0,13.0,11.0,51.0,...,1020.3,NaN,NaN,10.1,22.4,0.0,No,NaN,10.0,8.0
142190,0,3.6,25.3,0.0,NaN,NaN,22.0,13.0,9.0,56.0,...,1019.1,NaN,NaN,10.9,24.5,0.0,No,6.0,10.0,3.0
142191,0,5.4,26.9,0.0,NaN,NaN,37.0,9.0,9.0,53.0,...,1016.8,NaN,NaN,12.5,26.1,0.0,No,3.0,10.0,14.0
142192,0,7.8,27.0,0.0,NaN,NaN,28.0,13.0,7.0,51.0,...,1016.5,3.0,2.0,15.1,26.0,0.0,No,10.0,11.0,3.0

In [199]:
df.head()

,Yes,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,windgustdir,winddir9,winddir3
0,0,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,8.0,NaN,16.9,21.8,No,0.0,No,13.0,13.0,14.0
1,0,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,NaN,NaN,17.2,24.3,No,0.0,No,14.0,6.0,15.0
2,0,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,NaN,2.0,21.0,23.2,No,0.0,No,15.0,13.0,15.0
3,0,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,NaN,NaN,18.1,26.5,No,1.0,No,4.0,10.0,NaN
4,0,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,7.0,8.0,17.8,29.7,No,0.2,No,13.0,8.0,7.0

In [207]:
# df.head(5)
df.fillna(df.mean())

,Yes,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,windgustdir,winddir9,winddir3
0,0,13.4,22.9,0.6,5.469824,7.624853,W,44.0,W,WNW,...,8.000000,4.503167,16.9,21.8,No,0.0,No,13.00000,13.0,14.000000
1,0,7.4,25.1,0.0,5.469824,7.624853,WNW,44.0,NNW,WSW,...,4.437189,4.503167,17.2,24.3,No,0.0,No,14.00000,6.0,15.000000
2,0,12.9,25.7,0.0,5.469824,7.624853,WSW,46.0,W,WSW,...,4.437189,2.000000,21.0,23.2,No,0.0,No,15.00000,13.0,15.000000
3,0,9.2,28.0,0.0,5.469824,7.624853,NE,24.0,SE,E,...,4.437189,4.503167,18.1,26.5,No,1.0,No,4.00000,10.0,8.724909
4,0,17.5,32.3,1.0,5.469824,7.624853,W,41.0,ENE,NW,...,7.000000,8.000000,17.8,29.7,No,0.2,No,13.00000,8.0,7.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,0,3.5,21.8,0.0,5.469824,7.624853,E,31.0,ESE,E,...,4.437189,4.503167,9.4,20.9,No,0.0,No,8.79073,2.0,8.724909
142189,0,2.8,23.4,0.0,5.469824,7.624853,E,31.0,SE,ENE,...,4.437189,4.503167,10.1,22.4,No,0.0,No,8.79073,10.0,8.000000
142190,0,3.6,25.3,0.0,5.469824,7.624853,NNW,22.0,SE,N,...,4.437189,4.503167,10.9,24.5,No,0.0,No,6.00000,10.0,3.000000
142191,0,5.4,26.9,0.0,5.469824,7.624853,N,37.0,SE,WNW,...,4.437189,4.503167,12.5,26.1,No,0.0,No,3.00000,10.0,14.000000
142192,0,7.8,27.0,0.0,5.469824,7.624853,SE,28.0,SSE,N,...,3.000000,2.000000,15.1,26.0,No,0.0,No,10.00000,11.0,3.000000

In [209]:
df.drop(columns=['WindGustDir', 'WindDir9am','WindDir3pm','RainToday'],axis=0)

,Yes,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM,RainTomorrow,windgustdir,winddir9,winddir3
0,0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,...,1007.1,8.0,NaN,16.9,21.8,0.0,No,13.0,13.0,14.0
1,0,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,...,1007.8,NaN,NaN,17.2,24.3,0.0,No,14.0,6.0,15.0
2,0,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,...,1008.7,NaN,2.0,21.0,23.2,0.0,No,15.0,13.0,15.0
3,0,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,...,1012.8,NaN,NaN,18.1,26.5,1.0,No,4.0,10.0,NaN
4,0,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,...,1006.0,7.0,8.0,17.8,29.7,0.2,No,13.0,8.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,0,3.5,21.8,0.0,NaN,NaN,31.0,15.0,13.0,59.0,...,1021.2,NaN,NaN,9.4,20.9,0.0,No,NaN,2.0,NaN
142189,0,2.8,23.4,0.0,NaN,NaN,31.0,13.0,11.0,51.0,...,1020.3,NaN,NaN,10.1,22.4,0.0,No,NaN,10.0,8.0
142190,0,3.6,25.3,0.0,NaN,NaN,22.0,13.0,9.0,56.0,...,1019.1,NaN,NaN,10.9,24.5,0.0,No,6.0,10.0,3.0
142191,0,5.4,26.9,0.0,NaN,NaN,37.0,9.0,9.0,53.0,...,1016.8,NaN,NaN,12.5,26.1,0.0,No,3.0,10.0,14.0
142192,0,7.8,27.0,0.0,NaN,NaN,28.0,13.0,7.0,51.0,...,1016.5,3.0,2.0,15.1,26.0,0.0,No,10.0,11.0,3.0

In [211]:
df = df.fillna(df.mean())

In [212]:
# df.head(5)
X = df.iloc[:, [0,1,2,3,4,5,7,10,11,12,13,14,15,16,18,19,21,23,24,25]].values
y = df.iloc[:, 22].values
# print(X)
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)
print(y_pred)
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("\nConfusion Matrix\n")
print(cm)
from sklearn.metrics import accuracy_score
print("\nThe Accuracy of Weather Prediction is : ")
accuracy_score(y_test,y_pred)

['No' 'No' 'No' ... 'No' 'No' 'No']

Confusion Matrix

[[21375   692]
 [ 2684  3688]]

The Accuracy of Weather Prediction is :

0.8812897781215936